<div class="col-md-6">
    <h4>Tutorials List with Prices</h4>
</div>
<div class="list row">
    <div class="col-sm-6 left">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.title }}
        </li>
      </ul>
    </div> 
    <div class="col-sm-6 right">
      <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let tutorial of tutorials; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(tutorial, i)"
          >
            {{ tutorial.price }}
          </li>
        </ul>
    </div>
</div>
